<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49142204439-70cfuuec29mmjb83quc9mro1nhk2iep7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49142204439-70cfuuec29mmjb83quc9mro1nhk2iep7</string>
	<key>API_KEY</key>
	<string>AIzaSyDXRL77cE-W5OpXPw3GLWBxBU6pW3wOx18</string>
	<key>GCM_SENDER_ID</key>
	<string>49142204439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enhanceit.VibrationWizard</string>
	<key>PROJECT_ID</key>
	<string>vibrationwizard-a8902</string>
	<key>STORAGE_BUCKET</key>
	<string>vibrationwizard-a8902.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49142204439:ios:8cb4504feef8d0327ab452</string>
</dict>
</plist>